@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");

/* Basic */
	body {
		background: #222833;
	}

	body{
		color: #555555;
		font-family: 'Raleway', sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	a {
		color: #3ac984;
		text-decoration: underline;
	}
	p, ul {
		margin: 0 0 2em 0;
	}

	h1, h2{
		color: inherit;
		font-weight: 700;
		line-height: 1.75em;
		margin-bottom: 1em;
	}

		h1 a, h2 a{
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}
	header.major {
		padding-bottom: 4em;
	}

	header h2 {
		margin: 0;
		padding: 0;
		font-size: 3em;
		font-weight: 600;
	}
	header .byline {
		font-size: 1.6em;
	}
/* Image */

	.image {
		border: 0;
		position: relative;
	}

		.image.feature {
			display: block;
			margin: 0 0 2em 0;
		}
			.image.feature img {
				display: block;
				width: 100%;
			}
/* Button */
	.button {
		background: #3ac984;
		border-radius: 40px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.80em 2em;
		text-align: center;
		text-decoration: none;
		font-size: 1.4em;
		font-weight: 600;
		min-width: 10em;
	}

/* Wrapper */
	.wrapper.style2 {
		background: #ececec;
		padding: 6em 0;
		text-align: center;
	}

/* Header */
	#header {
		background: #333333 url("../images/What-You-Should-Know-Covid-19.png") no-repeat;
		background-size: cover;
		color: #fff;
		padding: 6em 0;
		text-align: center;
		background-position: 0% 65%;
		position: relative;
	}

		#header:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(16, 32, 48, 0.25);
		}

		#header > * {
			position: relative;
			z-index: 1;
		}

	.homepage #header {
		padding: 8em 0;
		background-position: center;
	}

	#logo {
		font-size: 2em;
	}

	#nav > ul {
		margin: 0;
	}

		#nav > ul > li {
			border-radius: 10px 10px 0 0;
			display: inline-block;
			margin-left: 0.5em;
			padding: 0.5em 1.5em;
		}

			#nav > ul > li a {
				color: #FFF;
				text-decoration: none;
				font-size: 1.2em;
			}

			#nav > ul > li:first-child {
				margin-left: 0;
			}

			#nav > ul > li:hover a {
				color: #fff;
			}

			#nav > ul > li.active {
				background: #3ac984;
			}

				#nav > ul > li.active a {
					color: white;
				}

			#nav > ul > li > ul {
				display: none;
			}

/* Banner */
	#banner {
		text-align: center;
		padding: 4em 0 0 0;
	}
/* Footer */
#footer {
	background: #ececec;
	text-align: center;
 }